<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.finalprocject">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 百度语音需要的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 百度地图所需权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Decrypt Stranger"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="eEz2NVMQGT3hnSIm2F5p8UqW4mIzkSwN" />

        <activity
            android:name=".Activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Changepassword"
            android:screenOrientation="portrait" />

        <service
            android:name=".Service.ClientService"
            android:enabled="true"
            android:exported="true" />
        <!-- 百度地图需要的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NicknameEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SexEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BirthEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignatureEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.InvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FriendInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FriendMsgSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StrangerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StrangerGameActivity"
            android:screenOrientation="portrait" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RebackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgetPasswdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FriendAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BaseMainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.RobotActivity" />
        <activity android:name=".Activity.GameCenter"></activity>
    </application>

</manifest>